@font-face {font-family: "appfont";
  
 src:url('https://at.alicdn.com/t/font_1944939_4dd5mkwvtds.ttf') format('truetype')/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
 
}

.appfont {
  font-family: "appfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appicon-test:before {
  content: "\e658";
}

